@model IEnumerable<ITRepairDeskWebApp.ViewModels.JobAssignmentDateGroup>

@{
    ViewBag.Title = "Technician Statistics";
}

<h2>Technician Statistics</h2>

<table>
    <tr>
        <th>
            Job Assigned Date
        </th>
        <th>
            Technicians
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobAssignDate)
            </td>
            <td>
                @item.TechnicianCount
            </td>
        </tr>
    }
</table>